<ul class="nav nav-tabs" style="margin-bottom: 20px;">
  <li class="nav-item"><a class="nav-link" routerlink="../"><i class="fa fa-chevron-left"></i></a></li>
  <li class="nav-item"><a class="nav-link" routerlink="view" routerlinkactive="active">View</a></li>
  <li class="nav-item"><a class="nav-link" routerlink="participant" routerlinkactive="active">Participants</a></li>
  <li class="nav-item"><a class="nav-link" routerlink="edit" routerlinkactive="active">Edit</a></li>
  <li class="nav-item"><a class="nav-link" routerlink="delete" routerlinkactive="active"><span class="fa fa-trash"></span></a></li>
</ul>
<router-outlet></router-outlet>